################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MT II/MT II.VC.VC.opendb
*.tlog
*.log
*.exe
/MT II/MT II/Debug/vc140.pdb
/MT II/MT II/Debug/vc140.idb
/MT II/MT II/Debug/MT II.obj
/MT II/Debug
/RandomFloatGenerator/RandomFloatGenerator
/RandomFloatGenerator/Debug
/RandomFloatGenerator/RandomFloatGenerator.VC.db
/RandomFloatGenerator/RandomFloatGenerator.sln
/RandomFloatGenerator/.vs/RandomFloatGenerator/v14/.suo
